## Importando as Bibliotecas do Python

In [183]:
import os 
import subprocess
import stat
import statistics
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as mat 
import matplotlib.pyplot as plt 
import math

from datetime import datetime 
from scipy.special import comb
sns.set(style="dark") 
%matplotlib inline

## Lendo os arquivos de dados da Planilhia Governo Estadual de Pernambuco

In [56]:
governo_estadual = pd.read_excel("Governo_Estadual_Pernambuco.xlsx") 
governo_estadual

,Bairros,Meses,Acidentes,Arrecadado,Temperatura,Velocidade,Buracos
0,Abreu e Lima,Janeiro,43.170385,581962857,26,27,84
1,Araçoiaba,Janeiro,94.439468,868442764,31,95,79
2,Cabo,Janeiro,59.006171,910085907,38,33,136
3,Camaragibe,Janeiro,80.105787,910429224,38,33,75
4,Igarassu,Janeiro,93.512910,45124962,40,43,14
...,...,...,...,...,...,...,...
79,Moreno,Junho,51.597946,872971409,27,57,81
80,Olinda,Junho,78.547917,388227526,28,83,42
81,Paulista,Junho,68.606252,455485346,24,96,19
82,Recife,Junho,92.514611,94249286,29,70,69
83,São Lourenço,Junho,80.581429,768523274,23,30,35

## Verificando valores faltantes

In [57]:
governo_estadual.isna()

    Bairros  Meses  Acidentes  Arrecadado  Temperatura  Velocidade  Buracos
0     False  False      False       False        False       False    False
1     False  False      False       False        False       False    False
2     False  False      False       False        False       False    False
3     False  False      False       False        False       False    False
4     False  False      False       False        False       False    False
..      ...    ...        ...         ...          ...         ...      ...
79    False  False      False       False        False       False    False
80    False  False      False       False        False       False    False
81    False  False      False       False        False       False    False
82    False  False      False       False        False       False    False
83    False  False      False       False        False       False    False

[84 rows x 7 columns]

In [58]:
governo_estadual.isna().sum()

Bairros        0
Meses          0
Acidentes      0
Arrecadado     0
Temperatura    0
Velocidade     0
Buracos        0
dtype: int64

In [59]:
governo_estadual.isna().sum().sum()

0

## Verificando dados Duplicados

In [60]:
governo_estadual.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
79    False
80    False
81    False
82    False
83    False
Length: 84, dtype: bool

## Removendo dados duplicados

In [61]:
governo_estadual.drop_duplicates()

,Bairros,Meses,Acidentes,Arrecadado,Temperatura,Velocidade,Buracos
0,Abreu e Lima,Janeiro,43.170385,581962857,26,27,84
1,Araçoiaba,Janeiro,94.439468,868442764,31,95,79
2,Cabo,Janeiro,59.006171,910085907,38,33,136
3,Camaragibe,Janeiro,80.105787,910429224,38,33,75
4,Igarassu,Janeiro,93.512910,45124962,40,43,14
...,...,...,...,...,...,...,...
79,Moreno,Junho,51.597946,872971409,27,57,81
80,Olinda,Junho,78.547917,388227526,28,83,42
81,Paulista,Junho,68.606252,455485346,24,96,19
82,Recife,Junho,92.514611,94249286,29,70,69
83,São Lourenço,Junho,80.581429,768523274,23,30,35

## Análise Explorátoria dos dados

In [63]:
## Explorando um data Frame 
governo_estadual.head(10)

,Bairros,Meses,Acidentes,Arrecadado,Temperatura,Velocidade,Buracos
0,Abreu e Lima,Janeiro,43.170385,581962857,26,27,84
1,Araçoiaba,Janeiro,94.439468,868442764,31,95,79
2,Cabo,Janeiro,59.006171,910085907,38,33,136
3,Camaragibe,Janeiro,80.105787,910429224,38,33,75
4,Igarassu,Janeiro,93.512910,45124962,40,43,14
5,Ilha de Itamaracá,Janeiro,39.918478,284245742,34,37,101
6,Ipojuca,Janeiro,14.329146,601649598,35,69,132
7,Itapissuma,Janeiro,46.072661,428098716,37,37,86
8,Jaboatão,Janeiro,46.037817,8064041,30,64,15
9,Moreno,Janeiro,53.557746,11544322,27,33,22

In [64]:
## Informações sobre os dados 
governo_estadual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bairros      84 non-null     object
 1   Meses        84 non-null     object
 2   Acidentes    84 non-null     float64
 3   Arrecadado   84 non-null     int64
 4   Temperatura  84 non-null     int64
 5   Velocidade   84 non-null     int64
 6   Buracos      84 non-null     int64
dtypes: float64(1), int64(4), object(2)
memory usage: 4.7+ KB

## Tarefas para a planilhia de Dados Governo Estadual de Pernambuco

** Bairros ** 

* Total de Acidentes 
* Total de Arrecadações
* Total de Buracos 
* Total de Velocidade
* Total de Temperatura 


* Média de Acidentes
* Média de Buracos
* Média de Arrecadações
* Média de Velocidade 
* Média de Temperatura 


* Desvio Padrão 

* Mediana
* Moda 
* Variância

* Indice de Buracos / Acidentes

** Meses ** 

* Total de Acidentes 
* Total de Arrecadações 
* Total de Buracos 
* Total de Velocidade
* Total de Temperatura 



* Média de Acidentes 
* Média de Arrecadações
* Média de Velocidade 
* Média de Temperatura 
* Média de Buracos


* Desvio Padrão 
* Mediana
* Moda 
* Variância
* Indice de Buracos / Acidentes

** Bairros e Meses ** 

* Total de Acidentes 
* Total de Arrecadações
* Total de Buracos 
* Total de Velocidade
* Total de Temperatura 

* Indice de Buracos / Acidentes

## Analise Total de Bairros por Acidentes, Arrecadações,  Buracos ,Velocidade, Temperatura

In [109]:
bairros_total_acidentes = governo_estadual.groupby(["Bairros"]).sum()["Acidentes"].rename("Total de Acidentes") 
bairros_total_arrecadacoes = governo_estadual.groupby(["Bairros"]).sum()["Arrecadado"].rename("Total de Arrecadações")
bairros_total_buracos = governo_estadual.groupby(["Bairros"]).sum()["Buracos"].rename("Total de Buracos")
bairros_total_velocidade = governo_estadual.groupby(["Bairros"]).sum()["Velocidade"].rename("Total de Velocidade")
bairros_total_temperatura = governo_estadual.groupby(["Bairros"]).sum()["Temperatura"].rename("Total de Temperatura")

analise_bairros_total = pd.DataFrame({"Total de Acidentes" : bairros_total_acidentes, 
                                "Total de Arrecadações" : bairros_total_arrecadacoes, 
                                "Total de Buracos" : bairros_total_buracos, 
                                "Total de Temperatura" : bairros_total_temperatura, 
                                "Total de Velocidade" : bairros_total_velocidade}) 

analise_bairros_total ["Total de Acidentes"] = analise_bairros_total["Total de Acidentes"].map("{:,.2f}".format)
analise_bairros_total ["Total de Arrecadações"] = analise_bairros_total["Total de Arrecadações"].map(" R$ {:,.2f}".format)
analise_bairros_total ["Total de Buracos"] = analise_bairros_total["Total de Buracos"].map("{:,.2f}".format)
analise_bairros_total ["Total de Temperatura"] = analise_bairros_total["Total de Temperatura"].map("{:,.2f} °C".format)
analise_bairros_total ["Total de Velocidade"] = analise_bairros_total["Total de Velocidade"].map("{:,.2f}".format)


analise_bairros_total

,Total de Acidentes,Total de Arrecadações,Total de Buracos,Total de Temperatura,Total de Velocidade
Bairros,,,,,
Abreu e Lima,372.49,"R$ 3,211,985,851.00",410.00,193.00 °C,332.00
Araçoiaba,400.25,"R$ 3,659,643,594.00",388.00,179.00 °C,328.00
Cabo,341.16,"R$ 2,728,559,635.00",557.00,173.00 °C,337.00
Camaragibe,396.34,"R$ 2,895,438,095.00",422.00,188.00 °C,371.00
Igarassu,404.85,"R$ 2,028,236,599.00",382.00,189.00 °C,328.00
Ilha de Itamaracá,309.23,"R$ 3,100,860,616.00",325.00,168.00 °C,235.00
Ipojuca,281.19,"R$ 4,001,321,482.00",432.00,165.00 °C,421.00
Itapissuma,333.18,"R$ 2,087,917,435.00",668.00,210.00 °C,318.00
Jaboatão,255.51,"R$ 2,088,686,599.00",417.00,192.00 °C,282.00
Moreno,314.88,"R$ 3,347,879,049.00",556.00,185.00 °C,394.00
Olinda,347.01,"R$ 4,610,714,104.00",392.00,173.00 °C,408.00
Paulista,295.37,"R$ 3,787,414,380.00",157.00,185.00 °C,468.00
Recife,259.88,"R$ 1,932,823,072.00",536.00,167.00 °C,408.00
São Lourenço,326.88,"R$ 3,003,277,238.00",438.00,145.00 °C,290.00

## Analise Média de Bairros por Acidentes, Arrecadações, Buracos, Temperatura e Velocidade

In [107]:
bairros_media_acidentes = governo_estadual.groupby(["Bairros"]).mean()["Acidentes"].rename("Média de Acidentes") 
bairros_media_arrecadacoes = governo_estadual.groupby(["Bairros"]).mean()["Arrecadado"].rename("Média de Arrecadações")
bairros_media_buracos = governo_estadual.groupby(["Bairros"]).mean()["Buracos"].rename("Média de Buracos")
bairros_media_temperatura = governo_estadual.groupby(["Bairros"]).mean()["Temperatura"].rename("Média de Temperatura") 
bairros_media_velocidade = governo_estadual.groupby(["Bairros"]).mean()["Velocidade"].rename("Média de Velocidade")

analise_bairros_media = pd.DataFrame({"Média de Acidentes" : bairros_media_acidentes, 
                                      "Média de Arrecadações" : bairros_media_arrecadacoes,
                                      "Média de Buracos" : bairros_media_buracos,
                                      "Média de Temperatura" : bairros_media_temperatura,
                                      "Média de Velocidade" : bairros_media_velocidade, 
                                      })

analise_bairros_media["Média de Acidentes"] = analise_bairros_media["Média de Acidentes"].map("{:,.2f}".format) 
analise_bairros_media["Média de Arrecadações"] = analise_bairros_media["Média de Arrecadações"].map("R$ {:,.2f}".format)
analise_bairros_media["Média de Buracos"] = analise_bairros_media["Média de Buracos"].map("{:,.2f}".format)
analise_bairros_media["Média de Temperatura"] = analise_bairros_media["Média de Temperatura"].map("{:,.2f} °C".format)
analise_bairros_media["Média de Velocidade"] = analise_bairros_media["Média de Velocidade"].map("{:,.2f}".format)

analise_bairros_media

,Média de Acidentes,Média de Arrecadações,Média de Buracos,Média de Temperatura,Média de Velocidade
Bairros,,,,,
Abreu e Lima,62.08,"R$ 535,330,975.17",68.33,32.17 °C,55.33
Araçoiaba,66.71,"R$ 609,940,599.00",64.67,29.83 °C,54.67
Cabo,56.86,"R$ 454,759,939.17",92.83,28.83 °C,56.17
Camaragibe,66.06,"R$ 482,573,015.83",70.33,31.33 °C,61.83
Igarassu,67.47,"R$ 338,039,433.17",63.67,31.50 °C,54.67
Ilha de Itamaracá,51.54,"R$ 516,810,102.67",54.17,28.00 °C,39.17
Ipojuca,46.87,"R$ 666,886,913.67",72.00,27.50 °C,70.17
Itapissuma,55.53,"R$ 347,986,239.17",111.33,35.00 °C,53.00
Jaboatão,42.59,"R$ 348,114,433.17",69.50,32.00 °C,47.00
Moreno,52.48,"R$ 557,979,841.50",92.67,30.83 °C,65.67
Olinda,57.83,"R$ 768,452,350.67",65.33,28.83 °C,68.00
Paulista,49.23,"R$ 631,235,730.00",26.17,30.83 °C,78.00
Recife,43.31,"R$ 322,137,178.67",89.33,27.83 °C,68.00
São Lourenço,54.48,"R$ 500,546,206.33",73.00,24.17 °C,48.33

## Analise de Desvio Padrão Bairros por Acidentes, Arrecadações, Buracos, Temperatura e Velocidade

In [117]:
bairros_desvio_acidentes = governo_estadual.groupby(["Bairros"]).std()["Acidentes"].rename("Desvio Padrão de Acidentes")
bairros_desvio_arrecadações = governo_estadual.groupby("Bairros").std()["Arrecadado"].rename("Desvio Padrão de Arrecadações")
bairros_desvio_buracos = governo_estadual.groupby("Bairros").std()["Buracos"].rename("Desvio Padrão de Buracos") 
bairros_desvio_temperatura = governo_estadual.groupby("Bairros").std()["Temperatura"].rename("Desvio Padrão de Temperatura") 
bairros_desvio_velocidade = governo_estadual.groupby("Bairros").std()["Velocidade"].rename("Desvio Padrão de Velocidade")

analise_bairros_desvio = pd.DataFrame({"Desvio Padrão de Acidentes" : bairros_desvio_acidentes, 
                                       "Desvio Padrão de Arrecadações" : bairros_desvio_arrecadações, 
                                       "Desvio Padrão de Buracos" : bairros_desvio_buracos, 
                                       "Desvio Padrão de Temperatura" : bairros_desvio_temperatura, 
                                       "Desvio Padrão de Velocidade" : bairros_desvio_velocidade})

analise_bairros_desvio["Desvio Padrão de Acidentes"] = analise_bairros_desvio["Desvio Padrão de Acidentes"].map("{:,.2f}".format)
analise_bairros_desvio["Desvio Padrão de Arrecadações"] = analise_bairros_desvio["Desvio Padrão de Arrecadações"].map("R$ {:,.2f}".format) 
analise_bairros_desvio["Desvio Padrão de Buracos"] = analise_bairros_desvio["Desvio Padrão de Buracos"].map("{:,.2f}".format) 
analise_bairros_desvio["Desvio Padrão de Temperatura"] = analise_bairros_desvio["Desvio Padrão de Temperatura"].map("{:,.2f} °C".format) 
analise_bairros_desvio["Desvio Padrão de Velocidade"] = analise_bairros_desvio["Desvio Padrão de Velocidade"].map("{:,.2f}".format) 

analise_bairros_desvio

,Desvio Padrão de Acidentes,Desvio Padrão de Arrecadações,Desvio Padrão de Buracos,Desvio Padrão de Temperatura,Desvio Padrão de Velocidade
Bairros,,,,,
Abreu e Lima,22.72,"R$ 323,964,318.56",13.87,7.96 °C,22.21
Araçoiaba,25.45,"R$ 341,223,354.28",36.36,7.88 °C,25.16
Cabo,25.14,"R$ 263,011,272.55",55.82,6.59 °C,22.89
Camaragibe,27.46,"R$ 324,089,783.00",59.88,6.56 °C,29.63
Igarassu,25.21,"R$ 368,795,142.31",37.77,5.01 °C,17.76
Ilha de Itamaracá,18.46,"R$ 285,064,616.83",30.58,5.10 °C,15.97
Ipojuca,40.07,"R$ 329,711,273.23",42.82,5.39 °C,12.58
Itapissuma,21.65,"R$ 180,255,185.99",31.99,4.56 °C,21.68
Jaboatão,35.86,"R$ 277,201,472.64",45.80,4.86 °C,15.38
Moreno,29.90,"R$ 384,646,801.88",40.75,4.02 °C,25.48
Olinda,27.74,"R$ 267,545,425.57",41.09,5.56 °C,15.89
Paulista,38.50,"R$ 190,534,321.69",12.29,6.34 °C,25.71
Recife,31.40,"R$ 330,006,417.20",45.69,3.19 °C,28.05
São Lourenço,35.30,"R$ 317,418,030.85",38.29,2.32 °C,22.89

## Mediana de Bairros por Acidentes, Arrecadações, Buracos, Temperatura e Velocidade

In [128]:
mediana_bairros_acidentes = governo_estadual.groupby(["Bairros"]).median()["Acidentes"].rename("Mediana Padrão de Acidentes")
mediana_bairros_arrecadações = governo_estadual.groupby(["Bairros"]).median()["Arrecadado"].rename("Mediana Padrão de Arrecadações")
mediana_bairros_buracos = governo_estadual.groupby(["Bairros"]).median()["Buracos"].rename("Mediana Padrão de Buracos")
mediana_bairros_temperatura = governo_estadual.groupby(["Bairros"]).median()["Temperatura"].rename("Mediana Padrão de Temperaturas") 
mediana_bairros_velocidade = governo_estadual.groupby(["Bairros"]).median()["Velocidade"].rename("Mediana Padrão de Velocidade") 

analise_bairros_mediana = pd.DataFrame({"Mediana Padrão de Acidentes" : mediana_bairros_acidentes, 
                                        "Mediana Padrão de Arrecadações" : mediana_bairros_arrecadações,
                                        "Mediana Padrão de Buracos" : mediana_bairros_buracos, 
                                        "Mediana Padrão de Temperaturas" : mediana_bairros_temperatura,
                                        "Mediana Padrão de Velocidade" : mediana_bairros_velocidade})

analise_bairros_mediana["Mediana Padrão de Acidentes"] = analise_bairros_mediana["Mediana Padrão de Acidentes"].map("{:,.2f}".format)
analise_bairros_mediana["Mediana Padrão de Arrecadações"] = analise_bairros_mediana["Mediana Padrão de Arrecadações"].map(" R$ {:,.2f}".format)
analise_bairros_mediana["Mediana Padrão de Buracos"] = analise_bairros_mediana["Mediana Padrão de Buracos"].map("{:,.2f}".format)
analise_bairros_mediana["Mediana Padrão de Temperaturas"] = analise_bairros_mediana["Mediana Padrão de Temperaturas"].map("{:,.2f} °C".format) 
analise_bairros_mediana["Mediana Padrão de Velocidade"] = analise_bairros_mediana["Mediana Padrão de Velocidade"].map("{:,.2f}".format)

analise_bairros_mediana

,Mediana Padrão de Acidentes,Mediana Padrão de Arrecadações,Mediana Padrão de Buracos,Mediana Padrão de Temperaturas,Mediana Padrão de Velocidade
Bairros,,,,,
Abreu e Lima,74.68,"R$ 591,823,027.50",64.00,32.00 °C,57.50
Araçoiaba,60.90,"R$ 641,657,036.50",64.50,28.50 °C,57.00
Cabo,57.24,"R$ 391,444,081.00",115.00,26.50 °C,52.00
Camaragibe,68.12,"R$ 483,070,154.50",50.00,30.00 °C,60.50
Igarassu,73.34,"R$ 233,290,662.50",62.50,31.50 °C,60.00
Ilha de Itamaracá,56.60,"R$ 518,340,362.00",53.00,28.50 °C,34.50
Ipojuca,32.07,"R$ 801,982,206.50",54.00,26.50 °C,70.50
Itapissuma,46.93,"R$ 346,454,703.50",117.50,36.50 °C,46.00
Jaboatão,30.86,"R$ 402,438,560.50",59.00,30.50 °C,52.00
Moreno,52.58,"R$ 624,741,915.00",97.00,30.00 °C,61.00
Olinda,58.28,"R$ 917,910,531.00",61.50,27.00 °C,71.00
Paulista,50.12,"R$ 602,084,668.00",23.00,33.00 °C,90.00
Recife,45.99,"R$ 218,236,559.50",86.50,28.50 °C,66.50
São Lourenço,54.53,"R$ 579,299,981.50",73.00,23.50 °C,42.00

## Variância de Bairros por Acidentes, Arrecadações, Buracos, Temperatura e Velocidade

In [132]:
variancia_bairros_acidentes = governo_estadual.groupby(["Bairros"]).var()["Acidentes"].rename("Variância de Acidentes") 
variancia_bairros_arrecadacoes = governo_estadual.groupby(["Bairros"]).var()["Arrecadado"].rename("Variância de Arrecadações")
variancia_bairros_buracos = governo_estadual.groupby(["Bairros"]).var()["Buracos"].rename("Variância de Buracos") 
variancia_bairros_temperatura = governo_estadual.groupby(["Bairros"]).var()["Temperatura"].rename("Variância de Temperatura") 
variancia_bairros_velocidade = governo_estadual.groupby(["Bairros"]).var()["Velocidade"].rename("Variância de Velocidade") 

analise_bairros_variancia = pd.DataFrame({"Variância de Acidentes" : variancia_bairros_acidentes, 
                                          "Variância de Arrecadações" : variancia_bairros_arrecadacoes, 
                                          "Variância de Buracos" : variancia_bairros_buracos, 
                                          "Variância de Temperatura" : variancia_bairros_temperatura, 
                                          "Variância de Velocidade" : variancia_bairros_velocidade})

analise_bairros_variancia["Variância de Acidentes"] = analise_bairros_variancia["Variância de Acidentes"].map("{:,.2f}".format)
analise_bairros_variancia["Variância de Arrecadações"] = analise_bairros_variancia["Variância de Arrecadações"].map("R$ {:,.2f}".format)
analise_bairros_variancia["Variância de Buracos"] = analise_bairros_variancia["Variância de Buracos"].map("{:,.2f}".format)
analise_bairros_variancia["Variância de Temperatura"] = analise_bairros_variancia["Variância de Temperatura"].map("{:,.2f} °C".format)
analise_bairros_variancia["Variância de Velocidade"] = analise_bairros_variancia["Variância de Velocidade"].map("{:,.2f} ".format)
analise_bairros_variancia

,Variância de Acidentes,Variância de Arrecadações,Variância de Buracos,Variância de Temperatura,Variância de Velocidade
Bairros,,,,,
Abreu e Lima,516.24,"R$ 104,952,879,702,091,872.00",192.27,63.37 °C,493.07
Araçoiaba,647.49,"R$ 116,433,377,507,180,880.00","1,321.87",62.17 °C,633.07
Cabo,632.20,"R$ 69,174,929,486,705,040.00","3,115.37",43.37 °C,523.77
Camaragibe,753.87,"R$ 105,034,187,443,524,608.00","3,585.47",43.07 °C,878.17
Igarassu,635.35,"R$ 136,009,856,990,656,048.00","1,426.67",25.10 °C,315.47
Ilha de Itamaracá,340.59,"R$ 81,261,835,770,609,936.00",934.97,26.00 °C,254.97
Ipojuca,"1,605.33","R$ 108,709,523,695,676,240.00","1,833.20",29.10 °C,158.17
Itapissuma,468.51,"R$ 32,491,932,076,808,576.00","1,023.07",20.80 °C,470.00
Jaboatão,"1,285.66","R$ 76,840,656,436,524,848.00","2,097.50",23.60 °C,236.40
Moreno,894.15,"R$ 147,953,162,195,941,088.00","1,660.67",16.17 °C,649.47
Olinda,769.73,"R$ 71,580,554,746,072,424.00","1,688.67",30.97 °C,252.40
Paulista,"1,482.16","R$ 36,303,327,740,444,360.00",150.97,40.17 °C,660.80
Recife,986.15,"R$ 108,904,235,392,724,848.00","2,087.47",10.17 °C,786.80
São Lourenço,"1,245.82","R$ 100,754,206,308,850,496.00","1,466.40",5.37 °C,523.87

## Indice dos Bairros por Acidentes e Buracos

In [168]:
indice = (bairros_total_acidentes / bairros_total_buracos) * 100

analise_indice = pd.DataFrame({"%" : indice})

analise_indice["%"] = analise_indice["%"].map("{:,.1f}%".format)
analise_indice

                        %
Bairros
Abreu e Lima        90.9%
Araçoiaba          103.2%
Cabo                61.2%
Camaragibe          93.9%
Igarassu           106.0%
Ilha de Itamaracá   95.1%
Ipojuca             65.1%
Itapissuma          49.9%
Jaboatão            61.3%
Moreno              56.6%
Olinda              88.5%
Paulista           188.1%
Recife              48.5%
São Lourenço        74.6%

## Moda de Bairros por Acidentes, Arrecadações, Buracos, Temperatura e Velocidade

In [175]:
moda_analise = pd.DataFrame() 

for b in list(governo_estadual["Bairros"].unique()): 
    
    ac = governo_estadual[(governo_estadual["Bairros"] == b)]["Acidentes"].mode()
    a = governo_estadual[(governo_estadual["Bairros"] == b)]["Arrecadado"].mode()
    bb = governo_estadual[(governo_estadual["Bairros"] == b)]["Buracos"].mode()
    t = governo_estadual[(governo_estadual["Bairros"] == b)]["Temperatura"].mode()
    v = governo_estadual[(governo_estadual["Bairros"] == b)]["Velocidade"].mode()
    moda_analise = moda_analise.append(pd.DataFrame({'Bairros': b, 'Moda de Acidentes':ac, 'Moda Arrecadadas': a, 
                                                     'Moda de Buracos':bb, 'Moda de Temperatura' : t, 'Moda de Velocidade' : v}, index=[0]))
        
moda_analise = moda_analise.reset_index() 
del moda_analise["index"] 

moda_analise["Moda de Acidentes"].fillna(0, inplace=True) 
moda_analise["Moda de Acidentes"].isnull().value_counts()
moda_analise["Moda de Acidentes"] = moda_analise["Moda de Acidentes"].map(" {:,.2f}".format)

moda_analise["Moda Arrecadadas"].fillna(0, inplace=True) 
moda_analise["Moda Arrecadadas"].isnull().value_counts()
moda_analise["Moda Arrecadadas"] = moda_analise["Moda Arrecadadas"].map("R$ {:,.2f}".format)

moda_analise["Moda de Buracos"].fillna(0, inplace=True) 
moda_analise["Moda de Buracos"].isnull().value_counts()
moda_analise["Moda de Buracos"] = moda_analise["Moda de Buracos"].astype(int) 

moda_analise["Moda de Temperatura"].fillna(0, inplace=True) 
moda_analise["Moda de Temperatura"].isnull().value_counts()
moda_analise["Moda de Temperatura"] = moda_analise["Moda de Temperatura"].map("{:,.2f} °C".format)

moda_analise["Moda de Velocidade"].fillna(0, inplace=True) 
moda_analise["Moda de Velocidade"].isnull().value_counts()
moda_analise["Moda de Velocidade"] = moda_analise["Moda de Velocidade"].map("{:,.2f}".format)

moda_analise

,Bairros,Moda de Acidentes,Moda Arrecadadas,Moda de Buracos,Moda de Temperatura,Moda de Velocidade
0,Abreu e Lima,24.53,"R$ 83,691,797.00",64,26.00 °C,27.00
1,Araçoiaba,42.40,"R$ 199,861,070.00",23,21.00 °C,25.00
2,Cabo,16.24,"R$ 133,606,969.00",12,22.00 °C,33.00
3,Camaragibe,27.81,"R$ 26,268,657.00",13,30.00 °C,32.00
4,Igarassu,20.35,"R$ 45,124,962.00",14,26.00 °C,25.00
5,Ilha de Itamaracá,21.24,"R$ 173,978,059.00",13,21.00 °C,25.00
6,Ipojuca,10.39,"R$ 28,954,352.00",31,24.00 °C,84.00
7,Itapissuma,34.33,"R$ 113,309,872.00",64,28.00 °C,30.00
8,Jaboatão,9.30,"R$ 8,064,041.00",15,38.00 °C,24.00
9,Moreno,5.25,"R$ 11,544,322.00",22,27.00 °C,33.00
10,Olinda,20.23,"R$ 388,227,526.00",20,24.00 °C,38.00
11,Paulista,3.44,"R$ 455,485,346.00",14,22.00 °C,29.00
12,Recife,0.75,"R$ 92,088,695.00",27,22.00 °C,63.00
13,São Lourenço,8.85,"R$ 27,278,175.00",35,22.00 °C,30.00

### Analise Total de Meses por Acidentes, Arrecadações,  Buracos ,Velocidade, Temperatura

In [206]:
meses_total_acidentes = governo_estadual.groupby(["Meses"]).sum()["Acidentes"].rename("Total de Acidentes")
meses_total_arrecadados = governo_estadual.groupby(["Meses"]).sum()["Arrecadado"].rename("Total de Arrecadações")
meses_total_buracos = governo_estadual.groupby(["Meses"]).sum()["Buracos"].rename("Total de Buracos")
meses_total_temperatura = governo_estadual.groupby(["Meses"]).sum()["Temperatura"].rename("Total de Temperatura")
meses_total_velocidade = governo_estadual.groupby(["Meses"]).sum()["Velocidade"].rename("Total de Velocidade") 


analise_total_meses = pd.DataFrame({"Total de Acidentes" : meses_total_acidentes, 
                                    "Total de Arrecadações" : meses_total_arrecadados, 
                                    "Total de Buracos" : meses_total_buracos, 
                                    "Total de Temperatura" : meses_total_temperatura, 
                                    "Total de Velocidade" : meses_total_velocidade}) 

analise_total_meses["Total de Acidentes"] = analise_total_meses["Total de Acidentes"].map("{:,.2f}".format)
analise_total_meses["Total de Arrecadações"] = analise_total_meses["Total de Arrecadações"].map("R$ {:,.2f}".format) 
analise_total_meses["Total de Buracos"] = analise_total_meses["Total de Buracos"].map("{:,.2f}".format)
analise_total_meses["Total de Temperatura"] = analise_total_meses["Total de Temperatura"].map("{:,.2f} °C".format)
analise_total_meses["Total de Velocidade"] = analise_total_meses["Total de Velocidade"].map("{:,.2f}".format)
analise_total_meses

,Total de Acidentes,Total de Arrecadações,Total de Buracos,Total de Temperatura,Total de Velocidade
Meses,,,,,
Abril,748.94,"R$ 6,310,049,243.00",863.00,451.00 °C,834.00
Fevereiro,538.31,"R$ 8,941,449,006.00","1,092.00",396.00 °C,820.00
Janeiro,783.83,"R$ 6,878,142,789.00",912.00,459.00 °C,757.00
Junho,909.49,"R$ 6,917,531,091.00","1,017.00",389.00 °C,930.00
Maio,887.04,"R$ 7,524,449,760.00","1,077.00",396.00 °C,814.00
Março,770.61,"R$ 5,913,135,860.00","1,119.00",421.00 °C,765.00

## Analise Média de Meses por Acidentes, Arrecadações, Buracos ,Velocidade, Temperatura

In [207]:
meses_media_acidentes = governo_estadual.groupby(["Meses"]).mean()["Acidentes"].rename("Média de Acidentes")
meses_media_arrecadados = governo_estadual.groupby(["Meses"]).mean()["Arrecadado"].rename("Média de Arrecadações")
meses_media_buracos = governo_estadual.groupby(["Meses"]).mean()["Buracos"].rename("Média de Buracos")
meses_media_temperatura = governo_estadual.groupby(["Meses"]).mean()["Temperatura"].rename("Média de Temperatura")
meses_media_velocidade = governo_estadual.groupby(["Meses"]).mean()["Velocidade"].rename("Média de Velocidade") 


analise_media_meses = pd.DataFrame({"Média de Acidentes" : meses_media_acidentes, 
                                    "Média de Arrecadações" : meses_media_arrecadados, 
                                    "Média de Buracos" : meses_media_buracos, 
                                    "Média de Temperatura" : meses_media_temperatura, 
                                    "Média de Velocidade" : meses_media_velocidade}) 

analise_media_meses["Média de Acidentes"] = analise_media_meses["Média de Acidentes"].map("{:,.2f}".format)
analise_media_meses["Média de Arrecadações"] = analise_media_meses["Média de Arrecadações"].map("R$ {:,.2f}".format) 
analise_media_meses["Média de Buracos"] = analise_media_meses["Média de Buracos"].map("{:,.2f}".format)
analise_media_meses["Média de Temperatura"] = analise_media_meses["Média de Temperatura"].map("{:,.2f} °C".format)
analise_media_meses["Média de Velocidade"] = analise_media_meses["Média de Velocidade"].map("{:,.2f}".format)
analise_media_meses

,Média de Acidentes,Média de Arrecadações,Média de Buracos,Média de Temperatura,Média de Velocidade
Meses,,,,,
Abril,53.50,"R$ 450,717,803.07",61.64,32.21 °C,59.57
Fevereiro,38.45,"R$ 638,674,929.00",78.00,28.29 °C,58.57
Janeiro,55.99,"R$ 491,295,913.50",65.14,32.79 °C,54.07
Junho,64.96,"R$ 494,109,363.64",72.64,27.79 °C,66.43
Maio,63.36,"R$ 537,460,697.14",76.93,28.29 °C,58.14
Março,55.04,"R$ 422,366,847.14",79.93,30.07 °C,54.64

##  Mediana de Meses por Acidentes, Arrecadações, Buracos ,Velocidade, Temperatura

In [210]:
meses_mediana_acidentes = governo_estadual.groupby(["Meses"]).median()["Acidentes"].rename("Mediana de Acidentes")
meses_mediana_arrecadados = governo_estadual.groupby(["Meses"]).median()["Arrecadado"].rename("Mediana de Arrecadações")
meses_mediana_buracos = governo_estadual.groupby(["Meses"]).median()["Buracos"].rename("Mediana de Buracos")
meses_mediana_temperatura = governo_estadual.groupby(["Meses"]).median()["Temperatura"].rename("Mediana de Temperatura")
meses_mediana_velocidade = governo_estadual.groupby(["Meses"]).median()["Velocidade"].rename("Mediana de Velocidade") 


analise_mediana_meses = pd.DataFrame({"Mediana de Acidentes" : meses_mediana_acidentes, 
                                    "Mediana de Arrecadações" : meses_mediana_arrecadados, 
                                    "Mediana de Buracos" : meses_mediana_buracos, 
                                    "Mediana de Temperatura" : meses_mediana_temperatura, 
                                    "Mediana de Velocidade" : meses_mediana_velocidade}) 

analise_mediana_meses["Mediana de Acidentes"] = analise_mediana_meses["Mediana de Acidentes"].map("{:,.2f}".format)
analise_mediana_meses["Mediana de Arrecadações"] = analise_mediana_meses["Mediana de Arrecadações"].map("R$ {:,.2f}".format) 
analise_mediana_meses["Mediana de Buracos"] = analise_mediana_meses["Mediana de Buracos"].map("{:,.2f}".format)
analise_mediana_meses["Mediana de Temperatura"] = analise_mediana_meses["Mediana de Temperatura"].map("{:,.2f} °C".format)
analise_mediana_meses["Mediana de Velocidade"] = analise_mediana_meses["Mediana de Velocidade"].map("{:,.2f}".format)
analise_mediana_meses

,Mediana de Acidentes,Mediana de Arrecadações,Mediana de Buracos,Mediana de Temperatura,Mediana de Velocidade
Meses,,,,,
Abril,52.34,"R$ 423,794,575.50",46.50,31.00 °C,61.00
Fevereiro,26.63,"R$ 814,001,714.00",67.50,26.50 °C,57.00
Janeiro,49.82,"R$ 505,030,786.50",77.00,32.50 °C,40.00
Junho,66.65,"R$ 473,157,395.50",60.00,28.00 °C,70.00
Maio,65.68,"R$ 470,549,812.00",79.00,26.50 °C,55.00
Março,49.77,"R$ 485,122,663.50",76.00,30.50 °C,55.50

## Desvio Padrão de Meses por Acidentes, Arrecadações, Buracos ,Velocidade, Temperatura

In [208]:
desvio_padrao_acidentes = governo_estadual.groupby(["Meses"]).std()["Acidentes"].rename("Desvio Padrão de Acidentes")
desvio_padrao_arrecadados = governo_estadual.groupby(["Meses"]).std()["Arrecadado"].rename("Desvio Padrão de Arrecadações")
desvio_padrao_buracos = governo_estadual.groupby(["Meses"]).std()["Buracos"].rename("Desvio Padrão de Buracos")
desvio_padrao_temperatura = governo_estadual.groupby(["Meses"]).std()["Temperatura"].rename("Desvio Padrão de Temperatura")
desvio_padrao_velocidade = governo_estadual.groupby(["Meses"]).std()["Velocidade"].rename("Desvio Padrão de Velocidade") 


analise_desvio_meses = pd.DataFrame({"Desvio Padrão de Acidentes" : desvio_padrao_acidentes, 
                                    "Desvio Padrão de Arrecadações" : desvio_padrao_arrecadados, 
                                    "Desvio Padrão de Buracos" : desvio_padrao_buracos, 
                                    "Desvio Padrão de Temperatura" : desvio_padrao_temperatura, 
                                    "Desvio Padrão de Velocidade" : desvio_padrao_velocidade}) 

analise_desvio_meses["Desvio Padrão de Acidentes"] = analise_desvio_meses["Desvio Padrão de Acidentes"].map("{:,.2f}".format)
analise_desvio_meses["Desvio Padrão de Arrecadações"] = analise_desvio_meses["Desvio Padrão de Arrecadações"].map("R$ {:,.2f}".format) 
analise_desvio_meses["Desvio Padrão de Buracos"] = analise_desvio_meses["Desvio Padrão de Buracos"].map("{:,.2f}".format)
analise_desvio_meses["Desvio Padrão de Temperatura"] = analise_desvio_meses["Desvio Padrão de Temperatura"].map("{:,.2f} °C".format)
analise_desvio_meses["Desvio Padrão de Velocidade"] = analise_desvio_meses["Desvio Padrão de Velocidade"].map("{:,.2f}".format)
analise_desvio_meses

,Desvio Padrão de Acidentes,Desvio Padrão de Arrecadações,Desvio Padrão de Buracos,Desvio Padrão de Temperatura,Desvio Padrão de Velocidade
Meses,,,,,
Abril,29.26,"R$ 276,346,064.78",39.59,5.44 °C,23.73
Fevereiro,33.04,"R$ 328,719,272.64",44.92,6.73 °C,21.24
Janeiro,23.31,"R$ 358,339,379.86",42.55,4.49 °C,25.72
Junho,22.53,"R$ 235,682,280.02",43.82,4.85 °C,17.27
Maio,25.26,"R$ 327,738,592.40",34.84,5.14 °C,27.01
Março,31.76,"R$ 319,981,712.09",48.09,6.38 °C,22.04

## Variância de Meses por Acidentes, Arrecadações, Buracos ,Velocidade, Temperatura

In [209]:
variancia_acidentes = governo_estadual.groupby(["Meses"]).var()["Acidentes"].rename("Variância de Acidentes")
variancia_arrecadados = governo_estadual.groupby(["Meses"]).var()["Arrecadado"].rename("Variância de Arrecadações")
variancia_buracos = governo_estadual.groupby(["Meses"]).var()["Buracos"].rename("Variância de Buracos")
variancia_temperatura = governo_estadual.groupby(["Meses"]).var()["Temperatura"].rename("Variância de Temperatura")
variancia_velocidade = governo_estadual.groupby(["Meses"]).var()["Velocidade"].rename("Variância de Velocidade") 


analise_variancia_meses = pd.DataFrame({"Variância de Acidentes" : variancia_acidentes, 
                                    "Variância de Arrecadações" : variancia_arrecadados, 
                                    "Variância de Buracos" : variancia_buracos, 
                                    "Variância de Temperatura" : variancia_temperatura, 
                                    "Variância de Velocidade" : variancia_velocidade}) 

analise_variancia_meses["Variância de Acidentes"] = analise_variancia_meses["Variância de Acidentes"].map("{:,.2f}".format)
analise_variancia_meses["Variância de Arrecadações"] = analise_variancia_meses["Variância de Arrecadações"].map("R$ {:,.2f}".format) 
analise_variancia_meses["Variância de Buracos"] = analise_variancia_meses["Variância de Buracos"].map("{:,.2f}".format)
analise_variancia_meses["Variância de Temperatura"] = analise_variancia_meses["Variância de Temperatura"].map("{:,.2f} °C".format)
analise_variancia_meses["Variância de Velocidade"] = analise_variancia_meses["Variância de Velocidade"].map("{:,.2f}".format)
analise_variancia_meses

,Variância de Acidentes,Variância de Arrecadações,Variância de Buracos,Variância de Temperatura,Variância de Velocidade
Meses,,,,,
Abril,856.36,"R$ 76,367,147,517,731,552.00","1,567.48",29.57 °C,563.19
Fevereiro,"1,091.42","R$ 108,056,360,203,752,864.00","2,017.38",45.30 °C,451.03
Janeiro,543.37,"R$ 128,407,111,161,420,320.00","1,810.44",20.18 °C,661.76
Junho,507.41,"R$ 55,546,137,117,368,104.00","1,919.79",23.57 °C,298.42
Maio,637.83,"R$ 107,412,584,946,710,672.00","1,214.07",26.37 °C,729.52
Março,"1,008.39","R$ 102,388,296,071,854,272.00","2,312.69",40.69 °C,485.63

## Moda de Meses por Acidentes, Arrecadações, Buracos, Temperatura e Velocidade

In [212]:
moda_analise1 = pd.DataFrame() 

for m in list(governo_estadual["Meses"].unique()): 
    
    ac = governo_estadual[(governo_estadual["Meses"] == m)]["Acidentes"].mode()
    a = governo_estadual[(governo_estadual["Meses"] == m)]["Arrecadado"].mode()
    bb = governo_estadual[(governo_estadual["Meses"] == m)]["Buracos"].mode()
    t = governo_estadual[(governo_estadual["Meses"] == m)]["Temperatura"].mode()
    v = governo_estadual[(governo_estadual["Meses"] == m)]["Velocidade"].mode()
    moda_analise1 = moda_analise1.append(pd.DataFrame({'Meses': m, 'Moda de Acidentes':ac, 'Moda Arrecadadas': a, 
                                                     'Moda de Buracos':bb, 'Moda de Temperatura' : t, 
                                                     'Moda de Velocidade' : v}, index=[0]))
        
moda_analise1 = moda_analise1.reset_index() 
del moda_analise1["index"] 

moda_analise1["Moda de Acidentes"].fillna(0, inplace=True) 
moda_analise1["Moda de Acidentes"].isnull().value_counts()
moda_analise1["Moda de Acidentes"] = moda_analise1["Moda de Acidentes"].map(" {:,.2f}".format)

moda_analise1["Moda Arrecadadas"].fillna(0, inplace=True) 
moda_analise1["Moda Arrecadadas"].isnull().value_counts()
moda_analise1["Moda Arrecadadas"] = moda_analise1["Moda Arrecadadas"].map("R$ {:,.2f}".format)

moda_analise1["Moda de Buracos"].fillna(0, inplace=True) 
moda_analise1["Moda de Buracos"].isnull().value_counts()
moda_analise1["Moda de Buracos"] = moda_analise1["Moda de Buracos"].astype(int) 

moda_analise1["Moda de Temperatura"].fillna(0, inplace=True) 
moda_analise1["Moda de Temperatura"].isnull().value_counts()
moda_analise1["Moda de Temperatura"] = moda_analise1["Moda de Temperatura"].map("{:,.2f} °C".format)

moda_analise1["Moda de Velocidade"].fillna(0, inplace=True) 
moda_analise1["Moda de Velocidade"].isnull().value_counts()
moda_analise1["Moda de Velocidade"] = moda_analise1["Moda de Velocidade"].map("{:,.2f}".format)

moda_analise1

,Meses,Moda de Acidentes,Moda Arrecadadas,Moda de Buracos,Moda de Temperatura,Moda de Velocidade
0,Janeiro,14.33,"R$ 8,064,041.00",14,31.00 °C,33.00
1,Fevereiro,0.75,"R$ 113,309,872.00",13,21.00 °C,37.00
2,Março,8.85,"R$ 27,278,175.00",16,24.00 °C,32.00
3,Abril,3.44,"R$ 29,445,663.00",12,27.00 °C,74.00
4,Maio,19.14,"R$ 26,268,657.00",100,24.00 °C,98.00
5,Junho,9.30,"R$ 94,249,286.00",42,23.00 °C,70.00

## Indice dos Meses por Acidentes e Buracos

In [218]:
indice_meses = (meses_total_acidentes / meses_total_buracos) * 100 

analise_indice_meses = pd.DataFrame({"%" : indice_meses})

analise_indice_meses["%"] = analise_indice_meses["%"].map("{:,.1f}%".format)
analise_indice_meses

               %
Meses
Abril      86.8%
Fevereiro  49.3%
Janeiro    85.9%
Junho      89.4%
Maio       82.4%
Março      68.9%

## Analise Total de Bairros e Meses por Acidentes, Arrecadações, Buracos, Temperatura, Velocidade

In [246]:
bairros_meses_acidentes_t = governo_estadual.groupby(["Bairros", "Meses"]).sum()["Acidentes"].rename("Total de Acidentes")
bairros_meses_arrecadacoes_t = governo_estadual.groupby(["Bairros", "Meses"]).sum()["Arrecadado"].rename("Total de Arrecadações")
bairros_meses_buracos_t = governo_estadual.groupby(["Bairros", "Meses"]).sum()["Buracos"].rename("Total de Buracos")
bairros_meses_temperatura_t = governo_estadual.groupby(["Bairros", "Meses"]).sum()["Temperatura"].rename("Total de Temperatura")
bairros_meses_velocidade_t = governo_estadual.groupby(["Bairros", "Meses"]).sum()["Velocidade"].rename("Total de Velocidades")


analise_bairros_meses_t = pd.DataFrame({"Total de Acidentes" : bairros_meses_acidentes_t, 
                                        "Total de Arrecadações" : bairros_meses_arrecadacoes_t, 
                                        "Total de Buracos" : bairros_meses_buracos_t, 
                                        "Total de Temperatura" : bairros_meses_temperatura_t,
                                        "Total de Velocidades" : bairros_meses_velocidade_t})

analise_bairros_meses_t["Total de Acidentes"] = analise_bairros_meses_t["Total de Acidentes"].map("{:,.2f}".format)
analise_bairros_meses_t["Total de Arrecadações"] = analise_bairros_meses_t["Total de Arrecadações"].map("R$ {:,.2f}".format)
analise_bairros_meses_t["Total de Buracos"] = analise_bairros_meses_t["Total de Buracos"].map("{:,.2f}".format)
analise_bairros_meses_t["Total de Temperatura"] = analise_bairros_meses_t["Total de Temperatura"].map("{:,.2f} °C".format)
analise_bairros_meses_t["Total de Velocidades"] = analise_bairros_meses_t["Total de Velocidades"].map("{:,.2f}".format)
analise_bairros_meses_t.head(60)

                            Total de Acidentes Total de Arrecadações  \
Bairros           Meses
Abreu e Lima      Abril                  76.06     R$ 693,328,253.00
                  Fevereiro              78.98     R$ 256,249,842.00
                  Janeiro                43.17     R$ 581,962,857.00
                  Junho                  73.29     R$ 601,683,198.00
                  Maio                   76.45     R$ 995,069,904.00
                  Março                  24.53      R$ 83,691,797.00
Araçoiaba         Abril                  73.41     R$ 969,385,646.00
                  Fevereiro              97.86     R$ 903,411,065.00
                  Janeiro                94.44     R$ 868,442,764.00
                  Junho                  43.75     R$ 414,871,309.00
                  Maio                   48.40     R$ 303,671,740.00
                  Março                  42.40     R$ 199,861,070.00
Cabo              Abril                  55.48     R$ 437,493,657.00
                  Fevereiro              16.24     R$ 343,457,159.00
                  Janeiro                59.01     R$ 910,085,907.00
                  Junho                  62.96     R$ 133,606,969.00
                  Maio                   52.56     R$ 345,394,505.00
                  Março                  94.92     R$ 558,521,438.00
Camaragibe        Abril                  91.59     R$ 737,395,647.00
                  Fevereiro              44.63     R$ 255,204,258.00
                  Janeiro                80.11     R$ 910,429,224.00
                  Junho                  56.14     R$ 390,159,674.00
                  Maio                   96.05      R$ 26,268,657.00
                  Março                  27.81     R$ 575,980,635.00
Igarassu          Abril                  78.48      R$ 54,857,436.00
                  Fevereiro              20.35     R$ 973,375,349.00
                  Janeiro                93.51      R$ 45,124,962.00
                  Junho                  79.67     R$ 490,829,445.00
                  Maio                   68.20      R$ 52,325,518.00
                  Março                  64.63     R$ 411,723,889.00
Ilha de Itamaracá Abril                  21.24     R$ 410,095,494.00
                  Fevereiro              65.59     R$ 957,033,908.00
                  Janeiro                39.92     R$ 284,245,742.00
                  Junho                  50.04     R$ 626,585,230.00
                  Maio                   63.16     R$ 648,922,183.00
                  Março                  69.29     R$ 173,978,059.00
Ipojuca           Abril                  94.53     R$ 823,343,915.00
                  Fevereiro              10.39     R$ 859,044,452.00
                  Janeiro                14.33     R$ 601,649,598.00
                  Junho                  97.79     R$ 780,620,498.00
                  Maio                   19.14     R$ 907,708,667.00
                  Março                  45.01      R$ 28,954,352.00
Itapissuma        Abril                  47.80     R$ 216,026,651.00
                  Fevereiro              34.33     R$ 113,309,872.00
                  Janeiro                46.07     R$ 428,098,716.00
                  Junho                  64.70     R$ 264,810,691.00
                  Maio                   45.31     R$ 468,421,219.00
                  Março                  94.97     R$ 597,250,286.00
Jaboatão          Abril                  15.41      R$ 29,445,663.00
                  Fevereiro              15.67     R$ 471,545,485.00
                  Janeiro                46.04       R$ 8,064,041.00
                  Junho                   9.30     R$ 634,907,236.00
                  Maio                   71.79     R$ 333,331,636.00
                  Março                  97.30     R$ 611,392,538.00
Moreno            Abril                  76.77     R$ 386,950,006.00
                  Fevereiro               5.25     R$ 278,948,990.00
                  Janeiro                53.56      R$ 11,544,322.00
                  Junho                  51.60     R$ 872,971,409.00
                  Maio                   90.21     R$ 934,930,498.00
                  Março                  37.50     R$ 862,533,824.00

                            Total de Buracos Total de Temperatura  \
Bairros           Meses
Abreu e Lima      Abril                64.00             40.00 °C
                  Fevereiro            56.00             38.00 °C
                  Janeiro              84.00             26.00 °C
                  Junho                64.00             23.00 °C
                  Maio                 87.00             26.00 °C
                  Março                55.00             40.00 °C
Araçoiaba         Abril                33.00             40.00 °C
                  Fevereiro            73.00             23.00 °C
                  Janeiro              79.00             31.00 °C
                  Junho                56.00             21.00 °C
                  Maio                124.00             26.00 °C
                  Março                23.00             38.00 °C
Cabo              Abril                12.00             27.00 °C
                  Fevereiro            36.00             24.00 °C
                  Janeiro             136.00             38.00 °C
                  Junho               143.00             22.00 °C
                  Maio                100.00             26.00 °C
                  Março               130.00             36.00 °C
Camaragibe        Abril                13.00             30.00 °C
                  Fevereiro           143.00             30.00 °C
                  Janeiro              75.00             38.00 °C
                  Junho                25.00             30.00 °C
                  Maio                142.00             39.00 °C
                  Março                24.00             21.00 °C
Igarassu          Abril                37.00             32.00 °C
                  Fevereiro            82.00             27.00 °C
                  Janeiro              14.00             40.00 °C
                  Junho               110.00             33.00 °C
                  Maio                 96.00             31.00 °C
                  Março                43.00             26.00 °C
Ilha de Itamaracá Abril                56.00             26.00 °C
                  Fevereiro            13.00             21.00 °C
                  Janeiro             101.00             34.00 °C
                  Junho                50.00             31.00 °C
                  Maio                 72.00             24.00 °C
                  Março                33.00             32.00 °C
Ipojuca           Abril                31.00             29.00 °C
                  Fevereiro            62.00             21.00 °C
                  Janeiro             132.00             35.00 °C
                  Junho                42.00             32.00 °C
                  Maio                 46.00             24.00 °C
                  Março               119.00             24.00 °C
Itapissuma        Abril               105.00             36.00 °C
                  Fevereiro           130.00             40.00 °C
                  Janeiro              86.00             37.00 °C
                  Junho               138.00             38.00 °C
                  Maio                 64.00             28.00 °C
                  Março               145.00             31.00 °C
Jaboatão          Abril               101.00             38.00 °C
                  Fevereiro            40.00             31.00 °C
                  Janeiro              15.00             30.00 °C
                  Junho               143.00             28.00 °C
                  Maio                 55.00             38.00 °C
                  Março                63.00             27.00 °C
Moreno            Abril               108.00             37.00 °C
                  Fevereiro           139.00             34.00 °C
                  Janeiro              22.00             27.00 °C
                  Junho                81.00             27.00 °C
                  Maio                 86.00             29.00 °C
                  Março               120.00             31.00 °C

                            Total de Velocidades
Bairros           Meses
Abreu e Lima      Abril                    72.00
                  Fevereiro                37.00
                  Janeiro                  27.00
                  Junho                    77.00
                  Maio                     76.00
                  Março                    43.00
Araçoiaba         Abril                    31.00
                  Fevereiro                54.00
                  Janeiro                  95.00
                  Junho                    60.00
                  Maio                     63.00
                  Março                    25.00
Cabo              Abril                    45.00
                  Fevereiro                59.00
                  Janeiro                  33.00
                  Junho                    80.00
                  Maio                     86.00
                  Março                    34.00
Camaragibe        Abril                    89.00
                  Fevereiro                96.00
                  Janeiro                  33.00
                  Junho                    80.00
                  Maio                     41.00
                  Março                    32.00
Igarassu          Abril                    74.00
                  Fevereiro                61.00
                  Janeiro                  43.00
                  Junho                    59.00
                  Maio                     25.00
                  Março                    66.00
Ilha de Itamaracá Abril                    40.00
                  Fevereiro                25.00
                  Janeiro                  37.00
                  Junho                    70.00
                  Maio                     31.00
                  Março                    32.00
Ipojuca           Abril                    55.00
                  Fevereiro                84.00
                  Janeiro                  69.00
                  Junho                    72.00
                  Maio                     84.00
                  Março                    57.00
Itapissuma        Abril                    30.00
                  Fevereiro                74.00
                  Janeiro                  37.00
                  Junho                    47.00
                  Maio                     45.00
                  Março                    85.00
Jaboatão          Abril                    57.00
                  Fevereiro                55.00
                  Janeiro                  64.00
                  Junho                    49.00
                  Maio                     24.00
                  Março                    33.00
Moreno            Abril                    65.00
                  Fevereiro                48.00
                  Janeiro                  33.00
                  Junho                    57.00
                  Maio                     98.00
                  Março                    93.00

## Indice de Bairros e Meses por Acidentes e Buracos

In [251]:
indice_m_b = (bairros_meses_acidentes_t / bairros_meses_buracos_t) * 100

analise_indice = pd.DataFrame({"%" :indice_m_b})

analise_indice["%"] = analise_indice["%"].map("{:,.1f}%".format)

analise_indice.head(60)

                                  %
Bairros           Meses
Abreu e Lima      Abril      118.8%
                  Fevereiro  141.0%
                  Janeiro     51.4%
                  Junho      114.5%
                  Maio        87.9%
                  Março       44.6%
Araçoiaba         Abril      222.4%
                  Fevereiro  134.0%
                  Janeiro    119.5%
                  Junho       78.1%
                  Maio        39.0%
                  Março      184.4%
Cabo              Abril      462.3%
                  Fevereiro   45.1%
                  Janeiro     43.4%
                  Junho       44.0%
                  Maio        52.6%
                  Março       73.0%
Camaragibe        Abril      704.6%
                  Fevereiro   31.2%
                  Janeiro    106.8%
                  Junho      224.5%
                  Maio        67.6%
                  Março      115.9%
Igarassu          Abril      212.1%
                  Fevereiro   24.8%
                  Janeiro    667.9%
                  Junho       72.4%
                  Maio        71.0%
                  Março      150.3%
Ilha de Itamaracá Abril       37.9%
                  Fevereiro  504.6%
                  Janeiro     39.5%
                  Junho      100.1%
                  Maio        87.7%
                  Março      210.0%
Ipojuca           Abril      304.9%
                  Fevereiro   16.8%
                  Janeiro     10.9%
                  Junho      232.8%
                  Maio        41.6%
                  Março       37.8%
Itapissuma        Abril       45.5%
                  Fevereiro   26.4%
                  Janeiro     53.6%
                  Junho       46.9%
                  Maio        70.8%
                  Março       65.5%
Jaboatão          Abril       15.3%
                  Fevereiro   39.2%
                  Janeiro    306.9%
                  Junho        6.5%
                  Maio       130.5%
                  Março      154.4%
Moreno            Abril       71.1%
                  Fevereiro    3.8%
                  Janeiro    243.4%
                  Junho       63.7%
                  Maio       104.9%
                  Março       31.3%